[user]
	name = Paul Cowan
	email = paul@custardsource.com

[alias]
	st = status
	a = add
	c = commit
	ca = commit -a
	d = diff
[color]
	ui = auto
[core]
	excludesfile = /usr/local/google/home/cow/.gitignore_global
[push]
	default = matching
